$font: 'Roboto', sans-serif;
$color-accent: #00acdc;
$color-primary: #060b35;
$color-secondary: #616070;
$color-hover: #34568b;
$font-size-base: 12px;
$font-weight-base: 500;
$transition_color: color 0.3s ease;
$transition_transform: transform 0.3s ease;
$border-color: #f3f3f3;
$background-color: #fff;
